// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, change you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.

//
// Bring in Bootstrap
//

// Option 1
//
// Import all of Bootstrap's CSS

@import "bootstrap/scss/bootstrap";

// Option 2
//
// Place variable overrides first, then import just the styles you need. Note that some stylesheets are required no matter what.

// Toggle global options
$enable-gradients: true;
$enable-shadows: true;

// Customize some defaults
$body-color: #333;
$body-bg: #fff;
$border-radius: 0.4rem;
$success: #7952b3;

@import "bootstrap/scss/functions"; // Required
@import "bootstrap/scss/variables"; // Required
@import "bootstrap/scss/mixins"; // Required

@import "bootstrap/scss/root"; // Required
@import "bootstrap/scss/reboot"; // Required
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/code";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/button-group";
@import "bootstrap/scss/input-group"; // Requires forms
@import "bootstrap/scss/custom-forms";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar"; // Requires nav
@import "bootstrap/scss/card";
@import "bootstrap/scss/breadcrumb";
@import "bootstrap/scss/pagination";
@import "bootstrap/scss/badge";
@import "bootstrap/scss/jumbotron";
@import "bootstrap/scss/alert";
@import "bootstrap/scss/progress";
@import "bootstrap/scss/media";
@import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
@import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal"; // Requires transitions
@import "bootstrap/scss/tooltip";
@import "bootstrap/scss/popover";
@import "bootstrap/scss/carousel";
@import "bootstrap/scss/spinners";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/print";

//
// Custom styles
//

@import "icon-list";

// Style Bootstrap icons
*,
body {
  font-family: "Manrope", sans-serif;
}
.bi {
  fill: currentcolor;
}

.text-brand {
  color: black;
  // font-weight: bold;
  font-size: 2rem;
}

.nav-link {
  color: #394360;
  font-weight: 600;
  font-size: 16px;
  margin-right: 12px;
}

.btn-primary-custom {
  background-color: #8c82fc;
  color: white;
  font-weight: 600;
}

.btn-secondary-custom {
  background-color: none;
  color: #8c82fc;
  font-weight: 600;
}

.tagline-text {
  color: #8c82fc;
  font-weight: bold;
  font-size: 20px;
}
.title-text {
  color: black;
  font-weight: bold;
  font-size: 64px;
}
p {
  margin: 0;
  padding: 0;
}

.description-hero-text {
  font-weight: 500;
  font-size: 18px;
  color: #222831;
}

.bg-gray-section {
  background-color: #f8f8ff;
}

.menu-text-title {
  font-weight: bold;
  font-size: 36px;
}

.card-package-item {
  background-color: white;
  border-radius: 10px;
  margin: 0;
  padding: 20px;
  color: #22293e;
  width: 100%;
  transition: 0.3s;

  &:hover {
    transform: scale(1.1);
    z-index: 99;
    background-color: #8c82fc;
    h4 {
      color: white;
    }
    p {
      color: white;
    }
  }
  h4 {
    margin-top: 18px;
    font-weight: bold;
    font-size: 30px;
  }
  p {
    font-weight: 500;
    font-size: 14px;
  }
  .btn-item {
    margin-top: 40px;
    padding: 8px;
    display: block;
    width: 100%;
    background-color: #44e4c9;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 7px;
  }
}

.gx-10 {
  gap: 55px;
}
.gx-7 {
  gap: 30px;
}
.gx-5 {
  gap: 20px;
}
.gx-4 {
  gap: 16px;
}

.check-items-about {
  font-weight: 600;
  font-size: 16px;
}
